SlideView {
  background-color: #808080;
  border-style: solid;
  border-color: #808080;
  border-width: 4px;
}

QTextEdit {
  background-color: #222222;
  color: #ffffff;
}

AppliedTagList {
  background-color: #ededed;
}

AppliedTagEditor {
  background-color: #ededed;
  border-style: solid;
  border-left-color: #cccccc;
  border-top-color: #cccccc;
  border-right-color: #ffffff;
  border-bottom-color: #ffffff;
  border-width: 1;
}

AppliedTagWidget {
}

