[Desktop Entry]
Name=Photohoard
GenericName=Photohoard
Exec=photohoard
Terminal=false
Type=Application
Categories=Graphics
Icon=photohoard
Keywords=photography;digital asset management
